@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?q0ljwz');
  src:  url('../fonts/icomoon.eot?q0ljwz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?q0ljwz') format('truetype'),
    url('../fonts/icomoon.woff?q0ljwz') format('woff'),
    url('../fonts/icomoon.svg?q0ljwz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


.my-icons {
  display: inline-block;
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-icon-detail {
  text-align: center;
  padding: 45px 0 30px;
  border: 1px solid #F09511;
  border-radius: .1875rem;
  margin: 15px 0;
  min-height: 168px;
}

.font-icon-detail i {
  color: #000000;
  font-size: 1.5em;
}

.font-icon-detail p {
  color: #F09511 !important;
  margin-top: 30px;
  padding: 0 10px;
  font-size: .7142em;
}

/*------------------------
  change icon size
-------------------------*/

.my-icons-sm {
  font-size: 0.8em;
}

.my-icons-lg {
  font-size: 6em;
}

/* absolute units */

.my-icons-16 {
  font-size: 16px;
}

.my-icons-32 {
  font-size: 32px;
}

/*----------------------------------
  add a square/circle background
-----------------------------------*/

.my-icons-bg-square,
.my-icons-bg-circle {
  padding: 0.5em;
}

.my-icons-bg-circle {
  border-radius: 500%;
}

/*------------------------
  list icons
-------------------------*/

/*------------------------
  spinning icons
-------------------------*/

.my-icons-is-spinning {
  -webkit-animation: my-icons-spin 2s infinite linear;
  -moz-animation: my-icons-spin 2s infinite linear;
  animation: my-icons-spin 2s infinite linear;
}

@-webkit-keyframes my-icons-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes my-icons-spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes my-icons-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*------------------------
  rotated/flipped icons
-------------------------*/
.icon-rbp .path1:before {
  content: "\e91e";
  }
.icon-rbp .path2:before {
  content: "\e91f";
  margin-left: -0.7919921875em;
  color: rgb(255, 255, 255);
}
.icon-rbp .path3:before {
  content: "\e920";
  margin-left: -0.7919921875em;
  color: rgb(255, 255, 255);
}
.icon-rbp .path4:before {
  content: "\e921";
  margin-left: -0.7919921875em;
  color: rgb(255, 255, 255);
}
.icon-rbp .path5:before {
  content: "\e922";
  margin-left: -0.7919921875em;
  color: rgb(255, 255, 255);
}
.icon-rbp .path6:before {
  content: "\e923";
  margin-left: -0.7919921875em;
  color: rgb(255, 255, 255);
}
.icon-rbp .path7:before {
  content: "\e924";
  margin-left: -0.7919921875em;
  color: rgb(255, 255, 255);
}
.icon-rbp .path8:before {
  content: "\e925";
  margin-left: -0.7919921875em;
  color: rgb(255, 255, 255);
}
.icon-rbp .path9:before {
  content: "\e926";
  margin-left: -0.7919921875em;
  color: rgb(255, 255, 255);
}
.icon-rbp .path10:before {
  content: "\e927";
  margin-left: -0.7919921875em;
  color: rgb(255, 255, 255);
}
.icon-rbp .path11:before {
  content: "\e928";
  margin-left: -0.7919921875em;
  color: rgb(255, 255, 255);
}
.icon-rbp .path12:before {
  content: "\e929";
  margin-left: -0.7919921875em;
  color: rgb(255, 255, 255);
}
.icon-rbp .path13:before {
  content: "\e92a";
  margin-left: -0.7919921875em;
  color: rgb(255, 255, 255);
}
.icon-rbp .path14:before {
  content: "\e92b";
  margin-left: -0.7919921875em;
  color: rgb(255, 255, 255);
}
.icon-arduino:before {
  content: "\e92c";
}
.icon-stdioc .path1:before {
  content: "\e91a";
}
.icon-stdioc .path2:before {
  content: "\e91b";
  margin-left: -1em;
}
.icon-stdioc .path3:before {
  content: "\e91c";
  margin-left: -1em;;
}
.icon-stdioc .path4:before {
  content: "\e91d";
  margin-left: -1em;
  opacity: 0.25;
}
.icon-C .path1:before {
  content: "\e914";
}
.icon-C .path2:before {
  content: "\e915";
  margin-left: -0.888671875em;
}
.icon-C .path3:before {
  content: "\e916";
  margin-left: -0.888671875em;
}
.icon-C .path4:before {
  content: "\e917";
  margin-left: -0.888671875em;
  color: rgb(255, 255, 255);
}
.icon-C .path5:before {
  content: "\e918";
  margin-left: -0.888671875em;
  color: rgb(255, 255, 255);
}
.icon-C .path6:before {
  content: "\e919";
  margin-left: -0.888671875em;
  color: rgb(255, 255, 255);
}
.icon-angular:before {
  content: "\e900";
}
.icon-bootstrap:before {
  content: "\e901";
}
.icon-css:before {
  content: "\e902";
}
.icon-degree:before {
  content: "\e903";
}
.icon-energy:before {
  content: "\e904";
}
.icon-excel:before {
  content: "\e905";
}
.icon-gaming:before {
  content: "\e906";
}
.icon-git:before {
  content: "\e907";
}
.icon-html:before {
  content: "\e908";
}
.icon-java:before {
  content: "\e909";
}
.icon-language:before {
  content: "\e90a";
}
.icon-matraz:before {
  content: "\e90b";
}
.icon-music:before {
  content: "\e90c";
}
.icon-node:before {
  content: "\e90d";
}
.icon-photoshop:before {
  content: "\e90e";
}
.icon-powerpoint:before {
  content: "\e90f";
}
.icon-python:before {
  content: "\e910";
}
.icon-react:before {
  content: "\e911";
}
.icon-streaming:before {
  content: "\e912";
}
.icon-textp:before {
  content: "\e913";
}
