<nav class="navbar navbar-expand-lg bg-info fixed-top navbar-transparent"  id="navbar-top">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" placement="bottom" [routerLink]="['/home']" target="_blank">
        <span> CV • </span> OwO
      </a>
      
      
       
    </div>
    <a class="navbar-brand" href="https://www.facebook.com/jelg27" placement="right" target="_blank"
            tooltip="Contacto: ">
            <i class="fab fa-facebook-square"> </i>
          </a>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">CV</h1>
        
      </div>
    </div>
  </div>
  <div class="main">

    <div class="section section-typo">
      <img class="path" src="assets/img/path1.png" />

      <img class="path path1" src="assets/img/path3.png" />

      <div class="container">
        <h3 class="title">&#191;Qui&eacute;n soy&#63;</h3>
        <div id="typography">
          <div class="row">
            <div class="col-md-12">
              <div class="typography-line">
                <h1>Jorge Eduardo Lopez Gonzalez</h1>
              </div>
              <div class="typography-line">
                  <h3><i class="icon icon-lg my-icons icon-degree">
                   </i>CECyT 9 &quot;Juan de Dios B&aacute;tiz&quot; <br>
                   <small>T&eacute;cnico en Programaci&oacute;n</small>
                  </h3>

                  <h3><i class="icon icon-lg my-icons icon-language"></i>
                    Ingl&eacute;s (B2)<br>
                  <small>Un idioma escencial para esta profesi&oacute;n</small>
                  </h3>

                                    


              </div>
              <div class="typography-line"
              >
             
                
                <blockquote>
                  <p class="blockquote blockquote-danger">
                    Soy una persona creativa, busco soluciones a cualquier problema que se pueda presentar. Entiendo 
                    muy bien la logica lo que me permite desarollar algoritmos con facilidad. Puedo encontrar informacion eficientemente
                    y comunicarme con las personas para lograr un entendimiento mutuo. Tengo un gusto por el conocimiento en general
                     lo que me permite buscar angulos nuevos para cualquier objetivo buscando inspiracion en diferentes lugares
                    
                    
                  </p>
                </blockquote>
              </div>
              <div class="typography-line">
                
                <p class="text-info">
                  Particip&eacute; en WITCOM 2018, presentando un p&oacute;ster
                </p>
              </div>
              <div class="typography-line">
               
                <p class="text-success">
                  Comenc&eacute; a aprender a programar desde hace 7 a&ntilde;os
                </p>
              </div>
              <div class="typography-line">
                
                <p class="text-info">
                  <i class="icon icon-lg my-icons icon-music"></i>
                  Me gusta la m&uacute;sica, actualmente aprendo a tocar guitarra y teclado
                </p>
              </div>
              <div class="typography-line">
                
                <p class="text-danger">
                  <i class="icon icon-lg my-icons icon-gaming"></i>
                  Disfruto de los videojuegos, son una herramienta de liberaci&oacute;n de estr&eacute;s y me han permitido 
                  tener una mejor creatividad a la hora de realizar un trabajo
                </p>
              </div>
              
            </div>
          </div>
        </div>
        <div class="space-50"></div>
        
      </div>
    </div>

    <div class="section section-nucleo-icons">
      <img class="path" src="assets/img/path3.png" />

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8 col-md-12">
            <h2 class="title">Mis habilidades </h2>
            <h4 class="description">
             Aprendo rapidamente cuando necesito manejar una herramienta nueva, esto me ha permitido hasta ahora saber manejar varias de ellas
              que pueden ser utiles al momento de realizar mi trabajo como:
              
            </h4>
            
          </div>
        </div>
        <div class="blur-hover">
              <div class="icons-container blur-item on-screen mt-5">
              <i class="icon my-icons icon-node"> </i>
              <i class="icon icon-lg my-icons icon-angular"> </i>
              <i class="icon icon-lg my-icons icon-html"></i>
              <i class="icon icon-lg my-icons icon-language"></i>
              <i class="icon icon-lg my-icons icon-textp"></i>
              <i class="icon icon-lg my-icons icon-excel"></i>
              <i class="icon icon-lg my-icons icon-powerpoint"> </i>
              <i class="icon icon-lg my-icons icon-react"></i>
              <i class="icon icon-lg my-icons icon-css"></i>
              <i class="icon icon-lg my-icons icon-bootstrap"> </i>
              <i class="icon icon-lg my-icons icon-java"></i>
              <i class="icon icon-lg my-icons icon-photoshop"></i>
              <i class="icon icon-lg my-icons icon-python"></i>
            </div>
            <span class="blur-hidden h1 text-danger">
              Y preparado para aprender m&aacute;s 
            </span>
         
        </div>
      </div>
    </div>


  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="title">Jorge Eduardo Lopez Gonzalez</h1>
        </div>
        <div class="col-lg-6">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Home </a>
            </li>
       
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/ares']"> Ares </a>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </footer>
</div>